<div class = "container-sm" >
    <div class = "row">
        <div class ="title-name">
            <h2 style="display:inline">商品一覧 </h2>
        </div>
    </div>

    <div class ="row">

        <% @ramens.each do |ramen| %>

            <div class="index-card">
                <%= link_to public_ramen_path(ramen.id), {class: "link"} do %>
                    <div class = "index-body">
                        <%#= image_tag item.get_item_image(150, 150) %>
                    </div>
                    <div class="index-title">
                        <%= ramen.name %>
                    </div>
                    <div class="index-title">
                        <%= ramen.price %>円（税抜き）
                    </div>
                     <div class="index-title">
                        <%= ramen.introduction %>詳細
                    </div>
                     <div class="index-title">
                        <%= ramen.shop_name %>店名
                    </div>
                     <div class="index-title">
                        <%= ramen.introduction %>詳細
                    </div>
                     <div class="index-title">
                        <%= ramen.limited_information %>限定情報
                    </div>

                <% end %>
            </div>

        <% end %>
    </div>
<%#= paginate @ramens %>
</div>
